*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: groove;
    border-color: rgb(0, 0, 0);
}
.logo{
    font-size: 1.5rem;
    margin: 1.5rem;
    font-family: fieldwork;
}
.links ul{
    display: flex;
}
.links li{
    list-style: none;
}
.links li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
    display: block;
}
.links li:hover{
    background-color: rgb(233, 230, 230);
}
.menubutton{
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.menubutton .bar{
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
@media (max-width: 600px){
    .menubutton{
        display: flex;
    }
    .links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .links ul{
        width: 100%;
        flex-direction: column;
    }
    .links li{
        text-align: center;
    }
    .links li a{
        padding: .5rem 1rem;
    }
    .links.active{
        display: flex;
    }
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "main main main main"
        ". content1 content1 ."
        ". content2 content2 ."
        ". content3 content3 ."
        ". content4 content4 ."
        ". button button ."
        "content5 content5 content5 content5"
        "content6 content6 content7 content7"
        "footer footer footer footer";
    }
    main{
        background-color: aqua;
        grid-area: main;
    }
    #content1{
        background-color: blue;
        grid-area: content1;
    }
    #content2{
        background-color: coral;
        grid-area: content2;
    }
    #content3{
        background-color: darkblue;
        grid-area: content3;
    }
    #content4{
        background-color: darkorchid;
        grid-area: content4;
    }
    .button{
        background-color: indigo;
        grid-area: button;
    }
    #content5{
        background-color: deeppink;
        grid-area: content5;
    }
    #content6{
        background-color: green;
        grid-area: content6;
    }
    #content7{
        background-color: dodgerblue;
        grid-area: content7;
    }
    footer{
        background-color: darkslategray;
        grid-area: footer;
    }
}