*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: groove;
    border-color: rgb(0, 0, 0);
}
.logo{
    font-size: 1.5rem;
    margin: 1.5rem;
    font-family: fieldwork;
}
.links ul{
    display: flex;
}
.links li{
    list-style: none;
}
.links li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
    display: block;
}
.links li:hover{
    background-color: rgb(233, 230, 230);
}
.menubutton{
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.menubutton .bar{
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
@media (max-width: 667px){
    /*navbar start*/
    .menubutton{
        display: flex;
    }
    .links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .links ul{
        width: 100%;
        flex-direction: column;
    }
    .links li{
        text-align: center;
    }
    .links li a{
        padding: .5rem 1rem;
    }
    .links.active{
        display: flex;
    }
    /*navbar slut*/
    /*grid container start*/
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "main main main main"
        "content1 content1 content2 content2"
        "content3 content3 content4 content4"
        ". button button ."
        "content5 content5 content5 content5"
        "content6 content6 content7 content7"
        "footer footer footer footer";
        grid-gap: 0.2rem;
    }
    main{
        grid-area: main;
    }
    main img{
        width: 100%;
        height: 100%;
    }
    main p{
        text-align: center;
        margin-top: 1.5em;
        font-size: 1.2em;
        font-family: quasimoda;
    }
    #content1{
        grid-area: content1;
    }
    #content1 img{
        width: 100%;
        height: 100%;
    }
    #content2{
        grid-area: content2;
    }
    #content2 img{
        width: 100%;
        height: 100%;
    }
    #content3{
        grid-area: content3;
    }
    #content3 img{
        width: 100%;
        height: 100%;
    }
    #content4{
        grid-area: content4;
    }
    #content4 video{
        width: 100%;
        height: 100%;
    }
    .button{
        grid-area: button;
        text-align: center;
        border-style: groove;
        border-color: rgb(0, 0, 0);
        padding: 0.4rem;
        margin-top: 0.5rem;
        margin-left: 4.7rem;
        width: fit-content;
        font-family: quasimoda;
    }
    #content5{
        background-color: #2E4F68;
        grid-area: content5;
        padding: 2rem;
        margin-top: 0.7rem;
        margin-bottom: 1rem;
        height: 15rem;
    }
    #content5 p{
        color: #FDFDFD;
        margin-top: 0.8em;
        font-family: quasimoda;
        text-align: center;
    }
    #content6{
        grid-area: content6;
    }
    #content6 img{
        width: 100%;
        height: 100%;
    }
    #content7{
        grid-area: content7;
    }
    #content7 img{
        width: 100%;
        height: 97.5%;
    }
    footer{
        background-color: #464646;
        grid-area: footer;
        height: 6rem;
    }
    footer h4{
        color: #FDFDFD;
        margin-top: 2.7em;
        margin-left: 3em;
        font-size: 0.9em;
        font-family: fieldwork;
        font-weight: 100;
    }
}